<!-- jQuery, Bootstrap, and MDB scripts -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/mdb.min.js"></script>
<script>
    function coolButtonThing(ayylmao){
        document.getElementById(ayylmao).innerHTML = "Successfully added to cart!";
        setTimeout(
            function(){
                document.getElementById(ayylmao).innerHTML = "Add to existant cart";
            }, 4000
        )
    }

    var modal = document.getElementById("signIn");
    var modal2 = document.getElementById("signUp");
    var btn = document.getElementById("signInBtn");
    var btn2 = document.getElementById("signUpBtn");
    var btn3 = document.getElementById("signInBtnAgain");
    var span = document.getElementsByClassName("close")[0];
    var span2 = document.getElementsByClassName("close2")[0];
    
    function userExist() {
        alert("Email already taken!");
        modal2.style.display = "block";
    }
    
    btn.onclick = function() {
        modal.style.display = "block";
    }

    btn2.onclick = function() {
        modal.style.display = "none";
        modal2.style.display = "block";
    }

    btn3.onclick = function() {
        modal2.style.display = "none";
        modal.style.display = "block";
    }
    
    span.onclick = function() {
        modal.style.display = "none";
    }

    span2.onclick = function() {
        modal2.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        else if (event.target == modal2) {
            modal2.style.display = "none";
        }
    }
</script>
<br><br>

</body>
</html>