<!-- Start of navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <img src="/img/889705.png" style="max-width: 30px;">
    <span class="navbar-brand mb-0 h1">&nbsp;&nbsp;The Soup Store</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/apparel">Apparel</a></li>
            <li class="nav-item"><a class="nav-link" href="/vehicles">Vehicles</a></li>
            <li class="nav-item"><a class="nav-link" href="/equipment">Equipment</a></li>
            <li class="nav-item"><a class="nav-link" href="/contactus">Contact Us</a></li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="/view-cart">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="#">Sign In</a>
            </li>
        </ul>
    </div>
</nav>
<br><br><br>
<!-- End of navbar -->