<!-- The Modal -->
<div id="signIn" class="float">
    <div class="float-content">
        <div class="float-body">
            <form class="text-center border border-light p-5" action="#!">
                <span class="close">&times;</span>
                <p class="h4">Sign in</p>
                <!-- Email -->
                <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
                <!-- Password -->
                <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

                <div class="d-flex justify-content-around">
                    <div>
                        <!-- Remember me -->
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                            <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                        </div>
                    </div>
                    <div>
                        <!-- Forgot password -->
                        <a href="">Forgot password?</a>
                    </div>
                </div>
            
                <!-- Sign in button -->
                <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
                <!-- Register -->
                <p>Not a member?
                    <a href="">Register</a>
                </p>

                <!-- Guest button -->
                <a class="btn btn-info btn-block my-4" href="/shipping">Guest Checkout</a>
            </form>
        </div>
    </div>
</div>