<!-- The Modal -->
<div id="checkout-signIn" class="float">
    <div class="float-content">
        <div class="float-body">
            <form class="text-center border border-light p-5" action="#!">
                <span class="close3">&times;</span>
                <p class="h4">Sign in</p>
                <!-- Email -->
                <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
                <!-- Password -->
                <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
            
                <!-- Sign in button -->
                <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
                <!-- Register -->
                <p>Not a member?
                    <a id="signUpBtn">Register</a>
                </p>
                &#9135;&#9135;&#9135;&#9135;<strong>&nbsp;Or&nbsp;</strong>&#9135;&#9135;&#9135;&#9135;
                <!-- Guest button -->
                <a class="btn btn-info btn-block my-4" href="/shipping">Guest Checkout</a>
            </form>
        </div>
    </div>
</div>