<%- include('layouts/header.ejs') %>
<%- include('layouts/navbar.ejs') %>

<!-- Start of grid -->
<div class="container">
    <div class="row">
        <div class="col">
            <!-- Start of contact card -->
            <form class="text-center border border-light p-5" action="/submitContact" method="POST">
                <p class="h4 mb-4">Contact us</p>
                <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="First Name" name="fname" required>
                <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Last Name" name="lname" required>
                <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail" name="email" required>
                <label>Reason</label>
                <select class="browser-default custom-select mb-4" name="reason" required>
                    <option value="" disabled>Reason for contacting</option>
                    <option value="Opportunity" selected>Opportunity</option>
                    <option value="GLITCH">GLITCH</option>
                    <option value="Judgement">Judgement</option>
                </select>
                <div class="form-group">
                    <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message" name="comment" required></textarea>
                </div>
                <button class="btn btn-info btn-block" type="submit">Submit</button>
            </form>
            <!-- End of contact card -->
        </div>
        <div class="col">
            <!-- Start of google map -->
            <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 565px">
                <iframe allowtransparency="true" frameborder="0" scrolling="no" style="width: 100%; height: 565px;"
                src="https://maps.google.com/maps?q=san%20antonio&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
            </div>
            <!-- End of google map -->
        </div>
    </div>
</div>
<br>
<!-- End of grid -->

<%- include('layouts/footer.ejs') %>