<%- include('layouts/header.ejs') %>
<%- include('layouts/navbar.ejs') %>

<h2><strong>Contact Us</strong></h2><hr color="white">

<div class="container">
    <div class="row">
      <div class="col">
        
        <!-- Card Regular -->
        <div class="card card-cascade">

            <!-- Card image -->
            <div class="view view-cascade overlay">
            <img class="card-img-top" src="img/profiles/jgprofile1.jpg" alt="Card image cap">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
        
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
        
            <!-- Title -->
            <h4 class="card-title"><strong>Jacob Garza</strong></h4>
            <!-- Subtitle -->
            <h6 class="font-weight-bold indigo-text py-2">Link to Personal Website</h6>
            <!-- Text 
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae.
                Facere modi sunt, quod quibusdam.
            </p> -->
        
            <!-- Button -->
            <a href="#" class="btn btn-unique">Link</a>
                    
            </div>
        
        </div>
        <!-- Card Regular -->

      </div>
      <div class="col">
          
        <!-- Card Regular -->
        <div class="card card-cascade">

            <!-- Card image -->
            <div class="view view-cascade overlay">
            <img class="card-img-top" src="img/profiles/jgprofile1.jpg" alt="Card image cap">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
        
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
        
            <!-- Title -->
            <h4 class="card-title"><strong>Jacob Garza</strong></h4>
            <!-- Subtitle -->
            <h6 class="font-weight-bold indigo-text py-2">Link to Personal Website</h6>
            <!-- Text 
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae.
                Facere modi sunt, quod quibusdam.
            </p> -->
        
            <!-- Button -->
            <a href="#" class="btn btn-unique">Link</a>
                    
            </div>
        
        </div>
        <!-- Card Regular -->

      </div>
      <div class="col">
          
        <!-- Card Regular -->
        <div class="card card-cascade">

            <!-- Card image -->
            <div class="view view-cascade overlay">
            <img class="card-img-top" src="img/profiles/jgprofile1.jpg" alt="Card image cap">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
        
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
        
            <!-- Title -->
            <h4 class="card-title"><strong>Jacob Garza</strong></h4>
            <!-- Subtitle -->
            <h6 class="font-weight-bold indigo-text py-2">Link to Personal Website</h6>
            <!-- Text 
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae.
                Facere modi sunt, quod quibusdam.
            </p> -->
        
            <!-- Button -->
            <a href="#" class="btn btn-unique">Link</a>
                    
            </div>
        
        </div>
        <!-- Card Regular -->

      </div>
    </div>
  </div>

<%- include('layouts/footer.ejs') %>