<%- include('layouts/header.ejs') %>
<%- include('layouts/navbar.ejs') %>

<div class="container">
  <h2><strong><%= pageTitle %></strong></h2><hr color="white">
    <div class="row">
      <div class="col">
        
        <!-- Card Regular -->
        <div class="card card-cascade">

            <!-- Card image -->
            <div class="view view-cascade overlay">
            <img class="card-img-top profile" src="img/profiles/jgprofile1.jpg" alt="Card image cap">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
        
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
        
            <!-- Title -->
            <h4 class="card-title indigo-text"><strong>Jacob Garza</strong></h4>
        
            <!-- Button -->
            <a href="http://localhost:5200/" class="btn btn-unique">To Personal Website</a>
                    
            </div>
        
        </div>
        <!-- Card Regular -->

      </div>
      <div class="col">
          
        <!-- Card Regular -->
        <div class="card card-cascade">

            <!-- Card image -->
            <div class="view view-cascade overlay">
            <img class="card-img-top profile" src="img/profiles/happy_fox_by_ma_zack-d8u2l0s_2048.jpg" alt="Card image cap">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
        
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
        
            <!-- Title -->
            <h4 class="card-title indigo-text"><strong>Emmer Palaming</strong></h4>
        
            <!-- Button -->
            <a href="http://localhost:3000/" class="btn btn-unique">To Personal Website</a>
                    
            </div>
        
        </div>
        <!-- Card Regular -->

      </div>
      <div class="col">
        
        <!-- Card Regular -->
        <div class="card card-cascade">

            <!-- Card image -->
            <div class="view view-cascade overlay">
            <img class="card-img-top profile" src="img/profiles/Sebastian.jpg" alt="Card image cap">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
        
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
        
            <!-- Title -->
            <h4 class="card-title indigo-text"><strong>Sebastian Rodriguez</strong></h4>
        
            <!-- Button -->
            <a href="http://3.22.233.216/" class="btn btn-unique">To Personal Website</a>
                    
            </div>
        
        </div>
        <!-- Card Regular -->

      </div>
    </div>
  </div>

<%- include('layouts/footer.ejs') %>