<%- include('layouts/header.ejs') %>
<%- include('layouts/navbar.ejs') %>

<div class="container">
    <p class="btn-outline-primary text-center" style="padding-top: 15px; padding-bottom: 15px;">
        <strong>Success! Your order has been processed. Thank you for shopping at The Soup Store.</strong>
    </p>
</div>

<%- include('layouts/footer.ejs') %>