<%- include('layouts/header.ejs') %>
<%- include('layouts/navbar.ejs') %>

<% if (status == 'fail') { %>
    <body onload="userExist()"></body>
<% } %>
<% if (register == 'fail') { %>
    <body onload="newEmail()"></body>
<% } %>
<% if (checkPassword == 'fail') { %>
    <body onload="inncorrectPassword()"></body>
<% } %>


<div class="container">
    <div class="opacityOut centered">
        <h1 style="font-size: 5vw; height: 100%; text-align: center;font-family: Copperplate, Papyrus, fantasy;">
            <strong>In A Galaxy Far Far Away</strong>
        </h1>
    </div>
    <img class="rotateRight" src="img/home/moon.png" alt="moon" style="width:80%; margin: auto; display: block;">
    <div class="centered opacityIn"><h1 style="text-align: center; font-family: Copperplate, Papyrus, fantasy; color:#FFD700; font-size: 5vw;">
        <strong>Welcome to<br> The Soup Store</strong></h1>
    </div>
</div>

<%- include('layouts/footer.ejs') %>