<%- include('layouts/header.ejs') %>
<%- include('layouts/navbar.ejs') %>

<!-- Carousel -->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="view">
                <img class="d-block w-100" src="./img/me/ME3.png" alt="Selfie 3">
                <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption"><h3 class="h3-responsive"><strong>Welcome to my website!</strong></h3></div>
        </div>
        <div class="carousel-item">
            <div class="view">
                <img class="d-block w-100" src="./img/me/ME2.png"  alt="Selfie 2">
                <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption"><h3 class="h3-responsive"><strong>Get to know me!</strong></h3></div>
        </div>
        <div class="carousel-item">
            <div class="view">
                <img class="d-block w-100" src="./img/me/ME4.png" alt="Selfie 4">
                <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption"><h3 class="h3-responsive"><strong>😳 Introduction 🤯</strong></h3></div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br>
<!-- End of Carousel -->

<!-- Welcome Title -->
<div class="container">
    <div class="row">
        <div class="col-2" style="margin-left: auto; margin-right: auto;">
            <img src="./img/gif/bitCoin.gif" alt="Bit coin gif" width="50%">
        </div>
        <div class="col-2" style="margin-left: auto; margin-right: auto;">
            <img src="./img/gif/bitCoin.gif" alt="Bit coin gif" width="50%">
        </div>
        <div class="col-4" style="margin-left: auto; margin-right: auto;">
            <img src="./img/gif/bitPlayerone.gif" alt="Player one gif" width="80%">
        </div>
        <div class="col-2" style="margin-left: auto; margin-right: auto;">
            <img src="./img/gif/bitCoin.gif" alt="Bit coin gif" width="50%">
        </div>
        <div class="col-2" style="margin-left: auto; margin-right: auto;">
            <img src="./img/gif/bitCoin.gif" alt="Bit coin gif" width="50%">
        </div>
    </div>
</div>
<br>
<!-- End of Welcome Title -->

<!-- Welcome Cover -->
<div class="container">
    <div class="row">
        <div class="w-100" style="border: 3px solid lightblue;"></div>
        <div class="col-2" style="text-align: center;"><br>
            <img src="./img/me/memoji5.png" alt="memoji5" width="80%">
        </div>
        <div class="col-8">
            <br>
            <p style="text-align: center;">Hello world to my, Sebastian Rodriguez, website! I hope you get to know me better, as each tab has be custom to match
                my silly personality. Also, each tab will show you how wise I am, which isn't much, but I'm willing to learn. Other then
                that, I hope you enjoy my vibe and if you have any suggests or recommendations, please click the contact tab to get a hold
                of me.<br><br>THANK YOU!
            </p>
        </div>
        <div class="col-2" style="text-align: center;"><br>
            <img src="./img/me/memoji6.png" alt="memoji6" width="80%">
        </div>
        <div class="w-100" style="border: 3px solid lightblue;"></div>
    </div>
</div>
<br>
<!-- End of Welcome Cover -->

<!-- Video Intro -->
<video poster="./img/me/ME1.png" width="80%" controls><source src="./video/intro.mov" type="video/mp4"></video>

<%- include('layouts/footer.ejs') %>