<%- include('layouts/header.ejs') %>
<%- include('layouts/navbar.ejs') %>

<!-- Image divider -->
<br>
<img src="./img/me/memoji1.png" alt="memoji1" width="8%" style="margin: auto; display: block;">
<br>
<!-- End of Image divider -->

<h1 style="text-align: center;">Thank you for your response.</h1>

<%- include('layouts/footer.ejs') %>