body {
    height: 100%;
    background-color: Gainsboro;
    background-image: linear-gradient(Gainsboro, white, Gainsboro);
    background-attachment: fixed;
}
h2 {
    color: black;
}
/*
table {
    border:1px solid black;
    overflow:visible;
    height:500px;
    width:300px;
    max-height:500px;
    max-width:300px;
    display:block;
}
*/
img.product-detail {
    border:1px solid black;
    height:400px;
    width:500px;
    max-height:400px;
    max-width:500px;
    object-fit: contain;
}
img.showcase{
    height: 400px;
    max-height:400px;
    object-fit: contain;
}
img.profile{
    border-radius: 100%;
}
img.cart-preview{
    max-width: 50px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rotateRight {
    animation: rotation 30s infinite, opac 10s reverse;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
.opacityOut {
    animation:opac 10s;
}
.opacityIn {
    animation:opac 10s reverse;
}
@keyframes opac {
    0%   {opacity:1}
    99%  {opacity:0}
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button.hide-arrows,
input::-webkit-inner-spin-button.hide-arrows {
  -webkit-appearance: none;
  margin: 0;
  text-align: center;
}

/* Firefox */
input[type=number].hide-arrows {
  -moz-appearance: textfield;
  text-align: center;
}

.float {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.float-content {
    position: relative;
    background-color: white;
    margin: auto;
    border: 1px solid gray;
    padding: 10px;
    width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.close, .close2, .close3 {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus, .close2:hover, .close2:focus, .close3:hover, .close3:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.float-body {
    padding: 2px 16px;
}