body {
    height: 100%;
    background-color: Gainsboro;
    background-image: linear-gradient(Gainsboro, white, Gainsboro);
}
h2 {
    color: black;
}
table {
    border:1px solid black;
    overflow:visible;
    height:500px;
    width:300px;
    max-height:500px;
    max-width:300px;
    display:block;
}
img.product-detail {
    border:1px solid black;
    height:400px;
    width:500px;
    max-height:400px;
    max-width:500px;
    object-fit: contain;
}
img.showcase{
    height: 400px;
    max-height:400px;
    object-fit: contain;
}
img.profile{
    border-radius: 100%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rotateRight {
    animation: rotation 30s infinite, opac 10s reverse;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
.opacityOut {
    animation:opac 10s;
}
.opacityIn {
    animation:opac 10s reverse;
}
@keyframes opac {
    0%   {opacity:1}
    99%  {opacity:0}
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button.hide-arrows,
input::-webkit-inner-spin-button.hide-arrows {
  -webkit-appearance: none;
  margin: 0;
  text-align: center;
}

/* Firefox */
input[type=number].hide-arrows {
  -moz-appearance: textfield;
  text-align: center;
}